<div>

  <div class="lead">
    {{StopWatch.elapsedTime | date:'mm:ss'}}
  </div>

  <div class="btn-group" ng-if="StopWatch.controls">

    <button type="button"
            ng-click="StopWatch.start()"
            class="btn btn-default">

      <span class="glyphicon glyphicon-play"></span>
    </button>

    <button type="button"
            ng-click="StopWatch.stop()"
            class="btn btn-default">

      <span class="glyphicon glyphicon-stop"></span>
    </button>

    <button type="button"
            ng-click="StopWatch.reset()"
            class="btn btn-default">

      <span class="glyphicon glyphicon-refresh"></span>
    </button>

  </div>

  <div id="stopWatch">
    <div class="container">

      <ul class="flip minutePlay">
        <li>
          <a href="#">
            <div class="up">
              <div class="shadow"></div>
              <div class="inn" ng-bind="StopWatch.minute"></div>
            </div>
            <div class="down">
              <div class="shadow"></div>
              <div class="inn" ng-bind="StopWatch.minute"></div>
            </div>
          </a>
        </li>
      </ul>
      <ul class="flip secondPlay">
        <li>
          <a href="#">
            <div class="up">
              <div class="shadow"></div>
              <div class="inn" ng-bind="StopWatch.second"></div>
            </div>
            <div class="down">
              <div class="shadow"></div>
              <div class="inn" ng-bind="StopWatch.second"></div>
            </div>
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>