<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Directives Tips & Techniques | Nir@500tech.com</title>
</head>
<body>

<div class="container">

  <div class="page-header">
    <h1>Directives Tips & Techniques</h1>
  </div>

  <div class="row">


     <!--the dummy directive prints on each step-->
    <dummy></dummy>

    <!-- the stopWatch component-->
    <div class="col-md-3">
      <stop-watch></stop-watch>
    </div>

    <!--toggle the directive to log when $scope.$destroyed-->
    <div class="col-md-6">
      <label>Toggle directive</label>
      <input type="checkbox"
             ng-model="toggle"
             ng-init="toggle = true"/>

      <nk-login submit-text="Login!" ng-if="toggle"></nk-login>
    </div>

    <!-- the ngClick decorator in action-->
    <div class="col-md-3">
      <div ng-click="print()">Click Me!</div>
    </div>

  </div>

  <footer class="footer">
    <div class="container">
      <p class="text-muted">
        <a href="mailto:nir@500tech.com">Nir@500tech.com</a>
      </p>
    </div>
  </footer>

  <script src="/bundle.js"></script>
</body>
</html>