<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Directives Tips & Techniques | Nir@500tech.com</title>
</head>
<body>

<div class="container">

  <div class="page-header">
    <h1>Directives Tips & Techniques</h1>
  </div>

  <blockquote>
    <p class="lead">
      "At a high level, directives are markers on a DOM element
      (such as an attribute, element name, comment or CSS class) that tell AngularJS's
      HTML compiler ($compile) to attach a specified behavior to that
      DOM element or even transform the DOM element and its children."
    </p>
    <small class="pull-right"><a href="https://docs.angularjs.org/guide/directive">AngularJS Docs</a></small>
  </blockquote>

  <div>
    <!--<dummy></dummy>-->
    <!--<input type="checkbox" ng-model="toggle"/>-->
    <!--<stop-watch ng-if="toggle"></stop-watch>-->
    <!--<nk-login></nk-login>-->
    <!--<div ng-click="print()">Click Me!</div>-->
  </div>

</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">
      <a href="mailto:nir@500tech.com">Nir@500tech.com</a>
    </p>
  </div>
</footer>

<script src="/bundle.js"></script>
</body>
</html>